p {
  font-family: Roboto, Arial;
  margin-top: 0;
}

body {
  margin: 0;
}
@media (max-width: 1124px) {
  body {
    padding-left: 72px;
  }
}
@media (min-width: 1125px) and (max-width: 1314px) {
  body {
    padding-left: 72px;
  } 
}
@media (min-width: 1315px) {
  body {
    padding-left: 240px; 
  }
}